node_modules

# Output
.svelte-kit
build
.vercel

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#Configs
.npmrc
/.idea/
/.amplify/
*.local

amplify_outputs.json

.claude
/amplify_outputs.json.bak
